## Variables

A variable is a location in memory used to store some data(value).

They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rule for writing identifiers in python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally accroding to the type of value we assign to the variable.

## Variable Assignments

In [1]:
##we use the assignment operator(=) to assign values to a variable

a = 10
b = 5.5
c = 'ML'

## Multiple Assignments

In [2]:
a,b,c= 10,5.5,"ML"

In [3]:
a = b = c = 'AI' #assign the same value to multiple variable at once

## Storage Location

In [4]:
x = 3

print(id(x))   # print address of variable x

1582472233264

In [5]:
y = 3

print(id(y))    #print address of variable y

1582472233264

observation :
x and y points to same memory location

In [7]:
y = 2

print(id(y))   #print address of variable y

1582472233232

## Data Types

Every Value in Python has a datatype. Since Everything is an object in Python programming , data types are actually classes and variables are instances(objects) of these classes.

## Numbers 
Integers, floating points numbers and complex numbers falls under Python numbers category . They are defined as int, float and complex class in Python .

We can use types() function to know which class a variable or a value belongs to and isinstances to check if an object belong to a particular class.

In [8]:
a= 12                         #datatype is implicitly set to integer
print(type(a))

<class 'int'>

In [11]:
a = 12.5                      #datatype is changed to float
print(type(a))

<class 'float'>

In [13]:
a = 1 + 2j                             #datatype is changed to complex number
print(type(a))
print(isinstance(1 +2j, complex))

<class 'complex'>
True

## Boolean 

 Boolean represents the truth values false and True

In [14]:
a = True                                #datatype is changed to boolean
print (type(a))

<class 'bool'>

## Python Strings

String is sequence of unicode characters.

We can use single quotes or double quotes to represent strings

Multi-line strings can be denoted using triple quotes ''',or """

A string in Python consists of a series or sequence of characters -letters, numbers , and specials characters

In [1]:
s = "I am learning AI and Machine learning"
print(type(s))

<class 'str'>

In [2]:
print(s[-1])            #last character of strin s[len(s)-1 or s[-1]]

g

In [3]:
#slicing
s[5:10]                            #while slicing it will not include the last index which you give ,it will print till lastindex[-1]

'learn'

## Python List

List is an ordered sequence of items. It is one of the most used datatypes in Python and is very flexiable. All the items in a list do not need to be the same type.

Declarig a list is, items separated by commas are enclosed within brackets  [ ].

In [15]:
l1 = [10, 23.8,"hello"]
print(l1[2])

hello

List are mutable,meaning value of elements of a lsir can be altered

In [17]:
print(l1)
l1[0] = 12
print(l1)
print(type(l1))

[12, 23.8, 'hello']
[12, 23.8, 'hello']
<class 'list'>

## Python Tuple
Tuple is an ordered sequence of items same as list. The only difference is that tuple are immutable. Tuples once created be modified.

In [13]:
t1 = (12, 4.5 , "Hello")
print(tuple)
print(type(t1))

(12, 4.5, 'Hello')
<class 'tuple'>

In [18]:
t1[0] = 11

TypeError: 'tuple' object does not support item assignment

## Python Set

Set is an unordered collection of unique items.Set is defined by values separated by comma inside braces{} .Items in a set are not ordered.

In [5]:
s = {1,20, 30, 9}
print(s)

{1, 20, 30, 9}

we can perform set operations like union, intersection on two sets. Set have unique values.

In [4]:
print(type(S))

<class 'set'>

In [6]:
s = {10,20,20,20, 40,40,70} #automatically set won't consider duplicate 
print(s)

{40, 10, 20, 70}

In [9]:
print(s[1]) #we cannot print particular element in set because 
                #its unordered collections of items

TypeError: 'set' object is not subscriptable

 ## Python Dictionary
 
 Dictionary is an unordered collection of key-value pairs.
 
In python, Dictonaries are defined withing braces{} with each items being a pair in the form key:value.
Key and value can be of any type.

In [10]:
d ={ 1: "Apple", 2: "Ball"}
print(d)

{1: 'Apple', 2: 'Ball'}

In [12]:
print(d[2])

Ball

In [13]:
print(type(d))

<class 'dict'>

## Conversion between Datatypes

We can convert between different data types by using conversion function like int(), float(),str etc.

In [15]:
float(10)    #converting interger into float() method

10.0

In [17]:
str(10)    #converting integer into string

'10'

In [22]:
int(10.0) # converting float into string

10

Conversion to and from string must contain compatible values

In [24]:
int("10p")

ValueError: invalid literal for int() with base 10: '10p'

In [29]:
user = "Shalu"
lines = 100

print("Congartulations ," + user + "!You just wrote " + str(lines) + " lines of code")

Congartulations ,Shalu!You just wrote 100 lines of code

we can Convert one sequence to other

In [32]:
a = [1,2, 5,6,6]
print(type(a))
s = set(a)
print(s)
print(type(s))

<class 'list'>
{1, 2, 5, 6}
<class 'set'>

In [33]:
list("hello")

['h', 'e', 'l', 'l', 'o']